[Unit]
Description=Gunicorn instance to serve the Airbnb clone
After=network.target

[Service]
User=root
WorkingDirectory=/path/to/web_dynamic
ExecStart=/usr/bin/gunicorn --workers 3 --bind 0.0.0.0:5003 2-hbnb:app --error-logfile /tmp/airbnb-error.log --access-logfile /tmp/airbnb-access.log

[Install]
WantedBy=multi-user.target
